<div ng-controller="editAnnouncementCtrl">
	
	<div class="row">
				
		<div class="col-12 col-lg-5">
		
			<form>

			<div class="form-group">
				<label for="title">Title</label>
				<input id="title" class="form-control" ng-model="announcement.title"/>
			</div>
		
			<div class="form-group">
				<label for="type">Type</label>
				<select id="type" class="form-control" ng-model="announcement.type" >
				<option value="notice" ng-selected="announcement.type == 'notice'">Notice</option>
				<option value="proposal" ng-selected="announcement.type == 'proposal'">Proposal</option>
			</select>
			</div>
			
			<div class="form-group">
				<label for="description">Description</label>
				<input id="description" class="form-control" ng-model="announcement.description"/>
			</div>
				
			<div class="form-group" ng-show="announcement.type == 'proposal'">
				<label for="percentage">Required Percentage</label>
				<input id="percentage" class="form-control" ng-model="announcement.percentageNeeded"/>
			</div>
			
			<div class="form-group" ng-if="announcement.type != 'proposal'" ng-model="announcement.percentageNeeded = ''"/>
			</div>
			
			<div class="form-group">
				<label for="flat">Flat</label>
				<select id="flat" class="form-control" ng-model="announcement.flatId">
					<option ng-repeat="flat in flats" ng-selected="flat.id == announcement.flatId" value="{{flat.id}}">{{flat.address}}</option>
				</select>
			</div>
							
			<button class="btn btn-primary" ng-click="doEdit()">Change</button>
			
			</form>
		
		</div>
	</div>
</div>