<div ng-controller="zadaciCtrl">
							
		<form>

			<div class="form-group">
				<label for="ime">Ime</label>
				<input id="ime" class="form-control" placeholder="Ime" ng-model="newZadatak.ime"/>
			</div>
		
			<div class="form-group">
				<label for="stanje">Stanje</label>
				<select id="stanje" class="form-control" ng-model="newZadatak.stanjeId">
					<option ng-repeat="stanje in stanja" value="{{stanje.id}}">{{stanje.ime}}</option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="sprint">Sprint</label>
				<select id="sprint" class="form-control" ng-model="newZadatak.sprintId">
					<option ng-repeat="sprint in sprintovi" value="{{sprint.id}}">{{sprint.ime}}</option>
				</select>
			</div>
			
			<button class="btn btn-primary" ng-click="doAdd()">Dodaj</button>
			
		</form>
		
		<form>
			
			<div class="form-group">
				<label for="ime">Ime</label>
				<input id="ime" class="form-control" placeholder="Ime" ng-model="searchParams.ime"/>
			</div>
		
			<div class="form-group">
				<label for="sprint">Sprint</label>
				<select id="sprint" class="form-control" ng-model="searchParams.sprintId">
					<option ng-repeat="sprint in sprintovi" value="{{sprint.id}}">{{sprint.ime}}</option>
				</select>
			</div>
							
			<button class="btn btn-primary" ng-click="doSearch()">Pretrazi</button>
			
		</form>
			
		
		<div class="col-12">
			<div style="margin-bottom:10px" class="btn-group float-right">
				<button ng-disabled="pageNum==0" ng-click="changePage(-1)" class="btn btn-primary">Prethodna</button>
				<button ng-disabled="pageNum==totalPages - 1" ng-click="changePage(1)" class="btn btn-primary">Sledeca</button>
			</div>
		</div>
		
	
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Ime</th>
					<th>Stanje</th>
					<th>Sprint</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="z in zadaci">
					<td>{{z.ime}}</td>
					<td>{{z.stanjeIme}}</td>
					<td>{{z.sprintIme}}</td>
					<td>
						<button class="btn btn-primary" ng-click="goToNextState(z.id)">Predji na sledece stanje</button>
						<button class="btn btn-warning" ng-click="goToEdit(z.id)">Edit</button>
						<button class="btn btn-danger" ng-click="doDelete(z.id)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
</div>